body {
  margin: 0;
}

/*style the title of the project*/
h1 {
  width: 800px;
  height: auto;

  position: fixed;
  left: 50%;
  margin-left: -400px; /*half of width*/

  color: rgb(255, 120, 0);
  font: bold 40px Verdana;
  text-align: center;
}

/*style the instruction window*/

div#instruction {
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;

  background: rgba(0, 0, 0, 0.7);
  color: white;
  font: 13px Verdana;
  border: 2px solid rgb(255, 120, 0);
  border-radius: 6px;
  z-index: 10;
}

div#instruction > h2 {
  text-align: center;
}

div#instruction li, div#instruction p {
  padding: 4px 10px 4px;
}

div#instruction button {
  width: 50px;
  position: relative;
  background-color: rgb(255, 120, 0);
  color: white;
  left: 50%;
  margin-left: -25px;
  border: none;
  text-align: center;
  cursor: pointer;
}

/*style success message for live outputs*/
div#successMessage {
  width: 450px;
  height: 40px;
  position: fixed;
  bottom: 20%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font: 13px Verdana;
  border: 2px solid rgb(255, 120, 0);
  border-radius: 6px;
  z-index: 10;
  visibility: hidden; /* hides this element by default */
}

div#successMessage p {
  text-align: center;
}

div#successMessage button {
  width: 11;
  position: relative;
  background-color: rgb(255, 120, 0);
  color: white;
  border: none;
  font-size: 12px;
  cursor: pointer;
  align-items: center;
}
/*style failure message for the live outputs */
div#failureMessage {
  width: 600px;
  height: 40px;
  position: fixed;
  bottom: 20%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font: 13px Verdana;
  border: 2px solid rgb(255, 120, 0);
  border-radius: 6px;
  z-index: 10;
  visibility: hidden; /* hides this element by default */
}

div#failureMessage p {
  text-align: center;
}

div#failureMessage button {
  width: 11;
  position: relative;
  background-color: rgb(255, 120, 0);
  color: white;
  border: none;
  font-size: 12px;
  cursor: pointer;
  align-items: center;
}

/*style footnote of the simulation*/
div#footnote {
  width: 200;
  position: fixed;
  bottom: 0%;
  right: 0%;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px 5px 5px 5px;
  border-left: 3px solid rgb(255, 120, 0);
  border-radius: 5px;
}

div#footnote > p {
  margin: auto;
  color: white;
  font: 10px Verdana;
}

div#footnote button {
  float: right;
  position: relative;
  top: 3px;
  right: 3px;
  background-color: rgb(255, 120, 0);
  color: white;
  border: none;
  font-size: 10px;
  cursor: pointer;
}

/*style div with the altitude and velocity outputs*/
div#outputs1 {
  height: 150px;
  width: 200px;
  position: fixed;
  top: 47px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border: 4px solid black;
  border-radius: 0px 15px 15px 0px;
}

div#outputs1 p {
  margin: 10% 0 10% 5%;
  color: white;
  font: 13px Verdana;
}

div#outputs1 p.small {
  font: 10px Verdana;
}

/*style plots area*/
canvas#plot1 {
  position: fixed;
  top: 28.5%;
  left: 0;
  background: white;
  border: 4px solid black;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
}

canvas#plot2 {
  position: fixed;
  top: 64%;
  left: 0;
  background: white;
  border: 4px solid black;
  border-radius: 0px 15px 15px 0px;
}

/* style progress bar */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
#loading .progress {
    margin: 1.5em;
    border: 1px solid black;
    width: 50vw;
}
#loading .progressbar {
    margin: 2px;
    background: black;
    height: 1em;
    transform-origin: top left;
    transform: scaleX(0);
}

.loaded {
    visibility: hidden; /* hides this element by default */
}
