:root {
    --color1:black;
    --color2:white;
    --color3:rgb(235, 111, 0);
    --color4:rgb(172, 0, 0);
    --color5:rgba(0, 0, 0, 0.7);
}

body {
  margin: 0;
  font-family: Verdana;
}

/*style the title of the project*/
h1 {
  position: absolute;
  /* center a div element */
  left: 50%;
  transform: translateX(-50%);
  
  color: var(--color3);
  font-weight: bold;
  font-size: 45px;
  text-shadow: 2px 2px var(--color4);
}

/*style the instruction window*/

div#instruction {
  position: absolute;
  width: 450px;
  height: 530px;
  top: 50%;
  left: 50%;
  margin-top: -220px;
  margin-left: -225px;
  padding-left: 20px;
  padding-right: 20px;

  background: var(--color5);
  color: white;
  font-size: 13px;
  border-top: 1px solid var(--color3);
  border-left: 3px solid var(--color3);
  border-right: 3px solid var(--color3);
  border-bottom: 1px solid var(--color3);
  border-radius: 20px;
  z-index: 10;
}

div#instruction ol, div#instruction ul {
  padding-inline-start: 30px;
}

div#instruction > h2 {
  text-align: center;
}

div#instruction li, div#instruction p {
  padding: 4px 10px 4px;
}

div#instruction button {
  width: 50px;
  position: relative;
  background-color: var(--color4);
  color: white;
  left: 50%;
  margin-left: -25px;
  margin-top: 10px;
  border: 2px solid black;
  text-align: center;
  cursor: pointer;
}

/*style success message for live outputs*/
div#successMessage {
  position: absolute;

  bottom: 11%;
  left: 50%;
  transform: translateX(-50%);
  
  background: var(--color5);
  color: white;
  font-size: 16px;
  border-top: 1px solid var(--color3);
  border-left: 3px solid var(--color3);
  border-right: 3px solid var(--color3);
  border-bottom: 1px solid var(--color3);
  border-radius: 10px;
  z-index: 10;
  visibility: hidden; /* hides this element by default */
}

div#successMessage p {
  text-align: center;
  padding: 0px 17px;
}

div#successMessage button {
  float: right;
  margin-left: 5px;
  padding: 1px 6px;
  background-color: var(--color4);
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  align-items: center;
}

/*style failure message for the live outputs */
div#failureMessage {
  position: absolute;
  
  bottom: 11%;
  left: 50%;
  transform: translateX(-50%);
  
  background: var(--color5);
  color: white;
  font-size: 16px;
  border-top: 1px solid var(--color3);
  border-left: 3px solid var(--color3);
  border-right: 3px solid var(--color3);
  border-bottom: 1px solid var(--color3);
  border-radius: 10px;
  z-index: 10;
  visibility: hidden; /* hides this element by default */
}

div#failureMessage p {
  text-align: center;
  padding: 0px 17px;
}

div#failureMessage button {
  float: right;
  margin-left: 5px;
  padding: 1px 6px;
  background-color: var(--color4);
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  align-items: center;
}

/*style trajectory calculated notification for the live outputs */
div#trajCalculated {
  position: absolute;
  
  bottom: 11%;
  left: 50%;
  transform: translateX(-50%);
  
  background: var(--color5);
  color: white;
  font-size: 16px;
  border-top: 1px solid var(--color3);
  border-left: 3px solid var(--color3);
  border-right: 3px solid var(--color3);
  border-bottom: 1px solid var(--color3);
  border-radius: 10px;
  z-index: 10;
  visibility: hidden; /* hides this element by default */
}

div#trajCalculated p {
  text-align: center;
  padding: 0px 17px;
}

div#trajCalculated button {
  float: right;
  margin-left: 5px;
  padding: 1px 6px;
  background-color: var(--color4);
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  align-items: center;
}

/*style footnote of the simulation*/
div#footnote {
  width: 200;
  position: fixed;
  bottom: 0%;
  right: 0%;
  background: var(--color5);
  padding: 5px 5px 5px 5px;
  border-top: 1px solid var(--color3);
  border-left: 3px solid var(--color3);
  border-radius: 10px 0 0 10px;
}

div#footnote > p {
  margin: auto;
  color: white;
  font-size: 10px;
}

div#footnote button {
  float: right;
  position: relative;
  top: 3px;
  right: 3px;
  background-color: var(--color4);
  color: white;
  border: none;
  font-size: 13px;
  cursor: pointer;
}

/* LEFT PANE: live data + live plots */
section#outputs {
  position: fixed;
  top: 48px;
}
/*style div with the altitude and velocity outputs*/
div#livedata {
  width: 250px;
  position: relative;
  background-color: var(--color5);
  border-top: 1px solid var(--color3);
  border-right: 3px solid var(--color3);
  border-radius: 0px 15px 15px 0px;
  margin: 0px;
  padding: 10px 2px 10px 10px;
}

div#livedata p {
  margin: 0.1em 0;
  color: white;
  font-size: 13px;
  padding: 2px 0px;
}
/*style plots area*/
canvas#plot1 {
  position: relative;
  background-color: var(--color5);
  border-top: 1px solid var(--color3);
  border-right: 3px solid var(--color3);
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
  margin: 0px;
}

canvas#plot2 {
  position: relative;
  background-color: var(--color5);
  border-top: 1px solid var(--color3);
  border-right: 3px solid var(--color3);
  border-bottom: 1px solid var(--color3);
  border-radius: 0px 15px 15px 0px;
}

/* style progress bar */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background-color: var(--color1);
    color: var(--color2);
}

#loading p {
    font-size: 16;
    position: relative;
    left: 43%;
    margin: 0px;
}

#loading .progress {
    margin: 5px;
    border: 2px solid var(--color2);
    width: 50vw;
}

#loading .progressbar {
    margin: 2px;
    background: var(--color3);
    height: 1em;
    transform-origin: top left;
    transform: scaleX(0);
}

.loaded {
    visibility: hidden; /* hides this element by default */
}
