/* define global variables 
----------------------------------------------------------*/

:root {
    --color1:black;
    --color2:white;
    --color3:TOMATO; /*rgb(235, 111, 0)*/
    --color4:FIREBRICK;
    --color5:rgba(0, 0, 0, 0.7);
}

/* Global styles
----------------------------------------------------------*/

body {
  margin: 0;
  font-family: Verdana;
  color: var(--color2);
}

/*the title of the project
-----------------------------------------------------------*/
h1 {
  position: absolute;
  /* center a div element */
  left: 50%;
  transform: translateX(-50%);
  
  color: var(--color3);
  font-weight: bold;
  font-size: 45px;
  text-shadow: 2px 2px var(--color4);
}

/*the instruction window
--------------------------------------------------------------*/
div#instruction {
  position: absolute;
  width: 450px;
  height: 520px;
  top: 50%;
  left: 50%;
  margin-top: -220px;
  margin-left: -225px;
  padding-left: 20px;
  padding-right: 20px;

  background: var(--color5);
  font-size: 13px;
  border-top: 1px solid var(--color3);
  border-left: 3px solid var(--color3);
  border-right: 3px solid var(--color3);
  border-bottom: 1px solid var(--color3);
  border-radius: 20px;
  z-index: 10;
}

div#instruction ol, div#instruction ul {
  padding-inline-start: 30px;
}

div#instruction > h2 {
  text-align: center;
}

div#instruction li, div#instruction p {
  padding: 4px 10px 4px;
}

/*the buttons 
-------------------------------------------------------------*/
.close-button {
  position: relative;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.leftright {
  height: 4px;
  width: 25px;
  position: absolute;
  margin-top: 11px;
  background-color: var(--color3);
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in, visibility 0s;
}
.rightleft {
  height: 4px;
  width: 25px;
  position: absolute;
  margin-top: 11px;
  background-color: var(--color3);
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in, visibility 0s;
}
.close {
  margin: 38px 0 0 -4px;
  position: absolute;
}
.close-button:hover .leftright {
  transform: rotate(-45deg);
  background-color: var(--color4);
}
.close-button:hover .rightleft {
  transform: rotate(45deg);
  background-color: var(--color4);
}

#instruction .close-button {
  margin-left: 48%;
}

/* flex container
------------------------------------------------------------------------------*/
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-item1 {}
.flex-item2 {}

/*the success and failure messages as well as the notification for the successful calculation of the results
-----------------------------------------------------------------------------*/
div#successMessage, div#failureMessage, div#trajCalculated {
  position: absolute;

  bottom: 11%;
  left: 50%;
  transform: translateX(-50%);
  
  background: var(--color5);
  font-size: 16px;
  border-top: 1px solid var(--color3);
  border-left: 3px solid var(--color3);
  border-right: 3px solid var(--color3);
  border-bottom: 1px solid var(--color3);
  border-radius: 10px;
  z-index: 10;
  visibility: hidden; /* hides this element by default */
}

div#successMessage p, div#failureMessage p, div#trajCalculated p {
  display: block;
  text-align: center;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}

/*the footnote of the simulation
-------------------------------------------------------------*/
div#footnote {
  position: fixed;
  width: 200;
  bottom: 0%;
  right: 0%;
  background: var(--color5);
  padding: 7px;
  border-top: 1px solid var(--color3);
  border-left: 3px solid var(--color3);
  border-radius: 10px 0 0 10px;
}

div#footnote > p {
  margin: auto;
  font-size: 10px;
}

div#footnote button {
  float: right;
  position: relative;
  top: 3px;
  right: 3px;
  background-color: var(--color4);
  color: var(--color2);
  border: none;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
}

/*the LEFT PANE: live data + live plots 
----------------------------------------------------------------------*/
section#outputs {
  position: fixed;
  top: 48px;
}
/*style div with the altitude and velocity outputs*/
div#livedata {
  width: 250px;
  position: relative;
  background-color: var(--color5);
  border-top: 1px solid var(--color3);
  border-right: 3px solid var(--color3);
  border-radius: 0px 15px 15px 0px;
  margin: 0px;
  padding: 10px 2px 10px 10px;
}

div#livedata p {
  margin: 0.1em 0;
  font-size: 13px;
  padding: 2px 0px;
}
/*style plots area*/
canvas#plot1 {
  position: relative;
  background-color: var(--color5);
  border-top: 1px solid var(--color3);
  border-right: 3px solid var(--color3);
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
}

canvas#plot2 {
  position: relative;
  background-color: var(--color5);
  border-top: 1px solid var(--color3);
  border-right: 3px solid var(--color3);
  border-bottom: 1px solid var(--color3);
  border-radius: 0px 15px 15px 0px;
}

/*the loading page 
------------------------------------------------------------------------*/
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background-color: var(--color1);
}

#loading p {
    font-size: 16;
    position: relative;
    left: 43%;
    margin: 0px;
}

#loading .progress {
    margin: 5px;
    border: 2px solid var(--color2);
    width: 50vw;
}

#loading .progressbar {
    margin: 2px;
    background: var(--color3);
    height: 1em;
    transform-origin: top left;
    transform: scaleX(0);
}

.loaded {
    visibility: hidden; /* hides this element by default */
}
